<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"
                rel="stylesheet" media="screen"/>
                 
      <script src="http://code.jquery.com/jquery.js"></script>
      <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script> 
</head>
<body>
    <h2>Liste des contacts</h2>
    
    <div>
    <a href="/AddContact">Ajouter contact </a>
    </div>
    
    <div>
    	
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Date de naissance</th>
      <th scope="col">Telephone</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
   
   <tr th:each="e : ${ListeContact}">
   		<td th:text="${e.id}"/>
      	<td th:text="${e.nom}"/>
      	<td th:text="${e.prenom}"/>
      	<td/>
      	<td th:text="${e.telephone}"/>
      	<td th:text="${e.email}"/>
      	<td><a th:href="@{/ModifContact/{id} (id=${e.id})}">Modifier</a></td>
		<td><a th:href="@{/deleteContact/{id} (id=${e.id})}">Supprimer</a></td>
	</tr>
 
   
  </tbody>
</table>
	
	</div>
</body>
</html>